//FOOTER

footer{
    padding-top:60px;
    padding-bottom:120px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    @media(max-width:1199px){
        border-radius:0!important;
    }
    box-shadow: 0px 0px 50px 0px #C0C0C0;
    @media(max-width: 987px){
        padding-bottom: 0;
    }

    ul{
        margin:0;
        padding:0;
        list-style: none;
    }
    .footer-label{
        color :#C0C0C0;
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 5px;
    }
    .footer-num{
        font-size: 16px;
        font-weight: 500;
        padding-top:15px;
        padding-bottom:30px;
        color: #000;
    }
    .footer-txt{
        font-size:16px;
        font-weight: 500;
        line-height: 1.4;
        span{
            text-decoration: underline;
        }
    }
    .social-links{
        li{
            padding-bottom:10px!important;
            a{
                font-size: 16px;
                color: #000;
                font-weight: 500;
            }
        }
    }
}

.post-footer{
    img{
        margin-left : 30px;
        max-height:60px;
    }
}

.cookie-container{
    display: flex; 
    justify-content:flex-start; 
    align-items:center;
    div{
        margin-right : 25px;
    }
    @media(max-width:987px){
        justify-content:center;
        flex-direction:column;
        padding-top:40px;
        div{
            margin-right:0;
        }
        div:last-child{
            padding-top:10px;
        }
    }
}

.footer-svgs{
    max-width:33%!important;
    @media(max-width:1199px){
       margin-left:10px!important; 
    }
}

@media(max-width:1199px){
    html , body{
        overflow-x: hidden!important;
    }
}