//VARIABLES

$red : #CC0001;
$bg-grey: #F3F0EF;
$orange : #F9A80E;
$grey : #F3F0EF;

.bg-grey {
    background-color: $bg-grey;
}

.bg-white {
    background-color: #fff;
}

.bg-orange{
    background-color: $orange;
}
