//VARIABLES

$red : #CC0001;
$bg-grey: #F3F0EF;
$orange : #F9A80E;
$grey : #F3F0EF;

.bg-grey {
    background-color: $bg-grey;
}

.bg-white {
    background-color: #fff;
}

.bg-orange{
    background-image : linear-gradient(180deg, #FCC357 35%, #F39200 100%);
}

.bg-orange-2{
    background-color: $orange;
}