// TYPOGRAPHY
@font-face {
    font-family: 'Degular';
    src: url('../fonts/Degular-Light.eot');
    src: url('../fonts/Degular-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Degular-Light.woff2') format('woff2'),
        url('../fonts/Degular-Light.woff') format('woff'),
        url('../fonts/Degular-Light.ttf') format('truetype'),
        url('../fonts/Degular-Light.svg#Degular-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Degular';
    src: url('../fonts/Degular-Light_1.eot');
    src: url('../fonts/Degular-Light_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Degular-Light_1.woff2') format('woff2'),
        url('../fonts/Degular-Light_1.woff') format('woff'),
        url('../fonts/Degular-Light_1.ttf') format('truetype'),
        url('../fonts/Degular-Light_1.svg#Degular-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Degular';
    src: url('../fonts/Degular-Medium.eot');
    src: url('../fonts/Degular-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Degular-Medium.woff2') format('woff2'),
        url('../fonts/Degular-Medium.woff') format('woff'),
        url('../fonts/Degular-Medium.ttf') format('truetype'),
        url('../fonts/Degular-Medium.svg#Degular-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Degular';
    src: url('../fonts/Degular-Medium_1.eot');
    src: url('../fonts/Degular-Medium_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Degular-Medium_1.woff2') format('woff2'),
        url('../fonts/Degular-Medium_1.woff') format('woff'),
        url('../fonts/Degular-Medium_1.ttf') format('truetype'),
        url('../fonts/Degular-Medium_1.svg#Degular-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Degular';
    src: url('../fonts/Degular-Regular.eot');
    src: url('../fonts/Degular-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Degular-Regular.woff2') format('woff2'),
        url('../fonts/Degular-Regular.woff') format('woff'),
        url('../fonts/Degular-Regular.ttf') format('truetype'),
        url('../fonts/Degular-Regular.svg#Degular-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Degular';
    src: url('../fonts/Degular-Regular_1.eot');
    src: url('../fonts/Degular-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Degular-Regular_1.woff2') format('woff2'),
        url('../fonts/Degular-Regular_1.woff') format('woff'),
        url('../fonts/Degular-Regular_1.ttf') format('truetype'),
        url('../fonts/Degular-Regular_1.svg#Degular-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}






$font-1 : 'Degular' , sans-serif;

@import 'partials/_variables.scss';
@import 'partials/_common.scss';
@import 'partials/_typography.scss';
@import 'partials/_mixins.scss';
@import 'partials/_header.scss';
@import 'partials/_footer.scss';
@import 'partials/_animations.scss';
@import 'partials/_about.scss';
@import 'partials/_education.scss';
@import 'partials/_main.scss';
@import 'partials/_responsive.scss';



header{
    z-index: 1004;
}

section{
    position: relative;
    z-index: 999;
}

.menu-open-layover{
    z-index:1000;
}
footer{
    z-index : 1000;
    background-color:#fff;
}



.slide-2-container{
    position:relative;
    z-index: 1000;
}

.footer-wrapper{
    position:relative;
    z-index: 1002;
}

.video-container {
    width: 100vw;
    height: 100vh;
    left:0;
    top:0;
    overflow: hidden;
    position: absolute;
    z-index:-1;
    iframe, div {
        position: absolute;
        top: 0%;
        left:0%;
        width: 100vw;
        height: 100vh;
        pointer-events: none;
    }
    div{
        background-size:cover;
        background-position:center;
        background-repeat: no-repeat;
    }
}

